<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-expand-md bg-dark sticky-top" th:fragment="header">
  <div class="container justify-content-end">
    <ul class="navbar-nav h5">
      <li class="nav-item mx-2">
        <a class="nav-link fw-bold text-light"
           href="#" sec:authorize="isAuthenticated()">Tables</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link fw-bold text-light"
           href="#" sec:authorize="hasRole('ROLE_ADMIN')">Staff</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link fw-bold text-light"
           th:href="@{logout}" sec:authorize="isAuthenticated()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>