<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <!-- Header -->
  <nav class="navbar navbar-expand-md bg-dark sticky-top" th:fragment="header">
    <div class="container justify-content-end">
      <ul class="navbar-nav h5">
        <li class="nav-item mx-2">
          <a href="#" class="nav-link fw-bold text-light">Tables</a>
        </li>
        <li class="nav-item mx-2">
          <a href="#" class="nav-link fw-bold text-light">Staff</a>
        </li>
        <li class="nav-item mx-2">
          <a href="#" class="nav-link fw-bold text-light">Logout</a>
        </li>
      </ul>
    </div>
  </nav>


</body>
</html>